<h1>Tax rules</h1>

<%= link_to 'New tax rule', new_tax_rule_path, class: 'btn btn-primary' %>

<br /><br />

<table class="table">
  <thead>
    <tr>
      <th>Min value</th>
      <th>Max value</th>
      <th>Percentage</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tax_rules.each do |tax_rule| %>
      <tr>
        <td><%= tax_rule.min_value %></td>
        <td><%= tax_rule.max_value.present? ? tax_rule.max_value : 'Onward' %></td>
        <td><%= tax_rule.percentage %></td>
        <td><%= tax_rule.created_at %></td>
        <td><%= tax_rule.updated_at %></td>
        <td><%= link_to 'Show', tax_rule %></td>
        <td><%= link_to 'Edit', edit_tax_rule_path(tax_rule) %></td>
        <td><%= link_to 'Destroy', tax_rule, method: :delete, data: { confirm: 'Are you sure to delete this tax rule?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
