<!DOCTYPE html>
<html class="h-100">
<head>
  <title>Tax calculator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="d-flex flex-column h-100">
<% unless flash.empty? %>
  <script type="text/javascript">
    <% flash.each do |f| %>
    <% type = f[0].to_s %>
    toastr['<%= type == 'alert' ? 'error' : type %>']('<%= f[1] %>');
    <% end %>
  </script>
<% end %>
<header>
  <%= render "shared/navbar" %>
</header>
<main class="flex-shrink-0">
  <div class="container pt-5 mt-3">
    <%= yield %>
  </div>
</main>
<%= render "shared/footer" %>
</body>
</html>
